/* * {
  margin: 0;
  padding: 0;
} */


.top-nav-div {
  background-color: white;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
}


.logo-div {
  background-color: #FF1E57;
  padding: 1rem;
  border-radius: 5px;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo-div h2 {
  font-weight: 800;
}


.main-div {
  background-color: rgb(243, 243, 243);
  width: 99vw;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}


.options-div {
  /* background-color: black; */
  width: 82vw;
}


.garage-charts-div {
  display: flex;
  /* background-color: black; */
  /* flex-direction: column; */
  justify-content: space-between;
  width: 82vw;
  min-height: 90vh;
  gap: 2vw;
  align-items: center;
  flex-wrap: wrap;
}


.garage-chart {
  background-color: white;
  box-shadow: 0px 2px 5px rgb(220, 220, 220);
  /* padding: 1rem; */
  border-radius: 10px;
  width: 40vw;
  overflow: hidden;
  /* height: 50vh; */
  /* transition: transform 2s; */
  transition: transform 0.5s, box-shadow 0.5s;
}


.garage-chart:hover {
  transform: translate(0px, 10px);
  box-shadow: 0px 2px 2px rgb(192, 192, 192);
  background-color: rgb(251, 251, 251);
}


.garage-name-div {
  background-color: rgb(246, 215, 215);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.garage-name-div h2 {
  color: rgb(81, 81, 81);
}


.chart-div {
  padding: 1vw;
}
